/*=======================================
	General
 =======================================*/
// $grade-left: #3d5463;
// $grade-left2: rgba(61, 84, 99, 0);
// $grade-right: #e68c77;
// $grade-right2: rgba(230, 140, 119, 0);
// $pastel: 
//   linear-gradient(
//     45deg,
//     $grade-left,
//     $grade-right
//   );
$c1: #f7e9ce; // beige
$c2: #11182e; // dark blue

body {
	background-color: $c1;
	color: #fff;
	margin: 0;
}

p {
	font-size: 16px;
	margin: 0;
}

h1 {
	font-size: 48px;
	margin: 0;
}

h2 {
	font-size: 11px;
	margin: 0;
}

ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
	text-decoration: none;
	color: #fff;
	font-size: 16px;
}


/*=======================================
	Global
=======================================*/


/*=======================================
	Home
=======================================*/
#home-bg {
	display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: absolute;
}

.midi-pattern {
	width: 80vh;
	height: 80vh;
	// background: red;
	// border: 1px solid blue;
	position: absolute;
	transform: rotate(45deg);
	background-color: white;
	background-repeat: repeat;
	background-size: contain;
}

#p1 {
	background-image: url('../../assets/images/patterns/pattern1.svg');
}

#p2 {
	background-image: url('../../assets/images/patterns/pattern2.svg');
}

#p3 {
	background-image: url('../../assets/images/patterns/pattern3.svg');
}

#p4 {
	background-image: url('../../assets/images/patterns/pattern4.svg');
}

#p5 {
	background-image: url('../../assets/images/patterns/pattern5.svg');
}

#p6 {
	background-image: url('../../assets/images/patterns/pattern6.svg');
}

#p7 {
	background-image: url('../../assets/images/patterns/pattern7.svg');
	transform: scale(2);
}

#p8 {
	background-image: url('../../assets/images/patterns/pattern8.svg');
	// transform: scale(2);
}

#midi-container {
	display: flex;
    justify-content: center;
    align-items: center;
	width: 100vw;
	height: 100vh;
	position: relative;
}

#midi {
	position: relative;
}

#midi-bg {
	display: flex;
    align-items: center;
    justify-content: center;
	position: relative;
	width: 40vh;
	height: 40vh;
	transform: rotate(45deg);
	background: linear-gradient(135deg, #fffc00 0%,#ff0000 50%,#0a00b2 100%);
	// filter: drop-shadow(0 0 2vh rgba(0, 0, 0, 1));
	box-shadow: 0 0 6vh 0 rgba(0,0,0,1);
}

#midi-bg-inner {
	display: flex;
    align-items: center;
    justify-content: center;
	background-color: $c2;
	height: 37vh;
	width: 37vh;
	box-shadow: inset 0 0 2vh 0 rgba(0,0,0,1);
}

#midi-btns {
	display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
    height: 75%;
    width: 75%;
}

.midi-btn {
	display: inline-block;
	background: white;
	height: 17.5%;
    width: 17.5%;
    box-shadow: 0 0 0.5vh 0 rgba(0,0,0,1);
}

.midi-btn-active {
	background: white !important;
	box-shadow: 0 0 4vh 0 rgba(255,255,255,1);
}

#m1 {
	background: linear-gradient(135deg, #f6db01 0%,#d49102 100%);
}

#m6, #m2 {
	background: linear-gradient(135deg, #ff9b4c 0%,#fc4728 100%);
}

#m6, #m2 {
	background: linear-gradient(135deg, #ff9b4c 0%,#fc4728 100%);
}

#m11, #m3 {
	background: linear-gradient(135deg, #bc8180 0%,#9d3d80 100%);
}

#m7 {
	background: linear-gradient(135deg, #d48c01 0%,#b64601 100%);
}

#m16, #m4 {
	background: linear-gradient(135deg, #ac6f01 0%,#9e3501 100%);
}

#m12, #m8 {
	background: linear-gradient(135deg, #ff2d7d 0%,#df025d 100%);
}

#m21, #m17, #m9, #m5 {
	background: linear-gradient(135deg, #a34801 0%,#8f2f09 100%);
}

#m13 {
	background: linear-gradient(135deg, #ef0d6d 0%,#ca015e 100%);
}

#m22, #m10 {
	background: linear-gradient(135deg, #9b3201 0%,#762918 100%);
}

#m18, #m14 {
	background: linear-gradient(135deg, #db015c 0%,#aa0162 100%);
}

#m23, #m19, #m15 {
	background: linear-gradient(135deg, #742280 0%,#4d1977 100%);
}

#m24, #m20 {
	background: linear-gradient(135deg, #601c79 0%,#32147c 100%);
}

#m25 {
	background: linear-gradient(135deg, #481872 0%,#170f84 100%);
}

.petal {
	background-repeat: no-repeat;
	background-size: contain;
	position: absolute;
	filter: drop-shadow(0 0 2vh rgba(0, 0, 0, 1));
}

#l1 {
	background-image: url('../../assets/images/petals/l1.svg');
	top: -160px;
    left: -200px;
    width: 50vh;
	height: 50vh;
}

#l2 {
	background-image: url('../../assets/images/petals/l2.svg');
	top: 10px;
    left: -320px;
    width: 63vh;
    height: 63vh;
}

#l3 {
	background-image: url('../../assets/images/petals/l3.svg');
	top: 170px;
    left: -248px;
    width: 67vh;
    height: 37vh;
}

#r1 {
	background-image: url('../../assets/images/petals/r1.svg');
	top: -140px;
    left: 70px;
    width: 60vh;
    height: 60vh;
}

#r2 {
	background-image: url('../../assets/images/petals/r2.svg');
	top: 10px;
    left: 160px;
    width: 63vh;
    height: 63vh;
}

#r3 {
	background-image: url('../../assets/images/petals/r3.svg');
	top: 100px;
    left: 68px;
    width: 65vh;
    height: 45vh;
}
















