/*=======================================
	General
 =======================================*/
// $grade-left: #3d5463;
// $grade-left2: rgba(61, 84, 99, 0);
// $grade-right: #e68c77;
// $grade-right2: rgba(230, 140, 119, 0);
// $pastel: 
//   linear-gradient(
//     45deg,
//     $grade-left,
//     $grade-right
//   );
$c1: #f7e9ce; // beige
$c2: #11182e; // dark blue

body {
	background-color: $c2;
	color: #fff;
	margin: 0;
}

p {
	font-size: 16px;
	margin: 0;
}

h1 {
	font-size: 48px;
	margin: 0;
}

h2 {
	font-size: 11px;
	margin: 0;
}

ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
	text-decoration: none;
	color: #fff;
	font-size: 16px;
}


/*=======================================
	Global
=======================================*/


/*=======================================
	Home
=======================================*/
#home-bg {
	display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: absolute;
    overflow: hidden;
}

.p-container {
	width: 40vh;
	height: 40vh;
	width: 0;
	height: 0;
	transform-origin: center;
	position: absolute;
	display: inline-block;
	transform: rotate(45deg);
	// overflow: hidden;
}

.midi-pattern {
	// width: 40vh;
	// height: 40vh;
	width: 100%;
	height: 100%;
	// background-size: 100vh 100vh;
	transform-origin: center;
	position: absolute;
	// transform: rotate(45deg);
	background-color: white;
	background-repeat: repeat;
	// box-shadow: 0 0 6vh 0 rgba(0,0,0,1);
	// animation: pattern 14.4s linear infinite;
	background-attachment: fixed;
}

// @keyframes pattern {
// 	from {
// 		transform: rotate(0deg);
// 	}
// 	to {
// 		transform: rotate(90deg);
// 	}
// }

#p1 {
	background-image: url('../../assets/images/patterns/pattern1.jpg');
}

#p2 {
	background-image: url('../../assets/images/patterns/pattern2.jpg');
}

#p3 {
	background-image: url('../../assets/images/patterns/pattern3.jpg');
}

#p4 {
	background-image: url('../../assets/images/patterns/pattern4.jpg');
}

#p5 {
	background-image: url('../../assets/images/patterns/pattern5.jpg');
}

#p6 {
	background-image: url('../../assets/images/patterns/pattern6.jpg');
}

#p7 {
	background-image: url('../../assets/images/patterns/pattern7.jpg');
}

#p8 {
	background-image: url('../../assets/images/patterns/pattern8.jpg');
	// transform: scale(6);
}

#midi-container {
	display: flex;
    justify-content: center;
    align-items: center;
	width: 100vw;
	height: 100vh;
	position: relative;
}

#midi {
	position: relative;
	transform: scale(0);
}

#midi-bg {
	display: flex;
    align-items: center;
    justify-content: center;
	position: relative;
	width: 40vh;
	height: 40vh;
	transform: rotate(45deg);
	background: linear-gradient(135deg, #fffc00 0%,#ff0000 50%,#0a00b2 100%);
	// filter: drop-shadow(0 0 2vh rgba(0, 0, 0, 1));
	box-shadow: 0 0 6vh 0 rgba(0,0,0,1);
}

#midi-bg-inner {
	position: relative;
	display: flex;
    align-items: center;
    justify-content: center;
	background-color: $c2;
	height: 37vh;
	width: 37vh;
	box-shadow: inset 0 0 2vh 0 rgba(0,0,0,1);
}

.eq {
	position: absolute;
}

#e1 {
	top: 2%;
	left: 2%;
	width: 0%;
	height: 1%;
	background: linear-gradient(135deg, #ffdf00 0%,#ff7000 100%);
}

#e2 {
	top: 2%;
	left: 50%;
	width: 0%;
	height: 1%;
	background: linear-gradient(135deg, #ff7000 0%,#ff0200 100%);
}

#e3 {
	top: 2%;
	right: 2%;
	width: 1%;
	height: 0%;
	background: linear-gradient(135deg, #ff0200 0%,#94004e 100%);
}

#e4 {
	top: 50%;
	right: 2%;
	width: 1%;
	height: 0%;
	background: linear-gradient(135deg, #94004e 0%,#28009c 100%);
}

#e5 {
	bottom: 2%;
	right: 2%;
	width: 0%;
	height: 1%;
	background: linear-gradient(-135deg, #28009c 0%,#94004e 100%);
}

#e6 {
	bottom: 2%;
	right: 50%;
	width: 0%;
	height: 1%;
	background: linear-gradient(-135deg, #94004e 0%,#ff0200 100%);
}

#e7 {
	bottom: 2%;
	left: 2%;
	width: 1%;
	height: 0%;
	background: linear-gradient(135deg, #ff7000 0%,#ff0200 100%);
}

#e8 {
	bottom: 50%;
	left: 2%;
	width: 1%;
	height: 0%;
	background: linear-gradient(135deg, #ffdf00 0%,#ff7000 100%);
}

#e1a {
	top: 2%;
	left: 2%;
	width: 0%;
	height: 1%;
	background: $c2;
}

#e2a {
	top: 2%;
	left: 50%;
	width: 0%;
	height: 1%;
	background: $c2;
}

#e3a {
	top: 2%;
	right: 2%;
	width: 1%;
	height: 0%;
	background: $c2;
}

#e4a {
	top: 50%;
	right: 2%;
	width: 1%;
	height: 0%;
	background: $c2;
}

#e5a {
	bottom: 2%;
	right: 2%;
	width: 0%;
	height: 1%;
	background: $c2;
}

#e6a {
	bottom: 2%;
	right: 50%;
	width: 0%;
	height: 1%;
	background: $c2;
}

#e7a {
	bottom: 2%;
	left: 2%;
	width: 1%;
	height: 0%;
	background: $c2;
}

#e8a {
	bottom: 50%;
	left: 2%;
	width: 1%;
	height: 0%;
	background: $c2;
}

#midi-btns {
	display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
    height: 75%;
    width: 75%;
}

.midi-btn {
	position: relative;
	display: inline-block;
	background: white;
	height: 17.5%;
    width: 17.5%;
    box-shadow: 0 0 0.5vh 0 rgba(0,0,0,1);
    transform: scale(0);
    transform-origin: 50% 50%;
    &::after {
    	content: "";
    	position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
    	background: transparent;
    	box-shadow: 0 0 0 0 rgba(255,255,255,1);
    	opacity: 1;
    	transition: all 0s ease-out;
    }
}

.midi-q {
	&::after {
		background: white;
		box-shadow: 0 0 4vh 0 rgba(255,255,255,1);
	}
}

#horn1 {
	background: linear-gradient(135deg, #f6db01 0%,#d49102 100%);
}

#vocal1, #vocal2 {
	background: linear-gradient(135deg, #ff9b4c 0%,#fc4728 100%);
}

#ensb1, #ensb2 {
	background: linear-gradient(135deg, #bc8180 0%,#9d3d80 100%);
}

#horn2 {
	background: linear-gradient(135deg, #d48c01 0%,#b64601 100%);
}

#drum1, #drum5 {
	background: linear-gradient(135deg, #ac6f01 0%,#9e3501 100%);
}

#hi1, #hi2 {
	background: linear-gradient(135deg, #ff2d7d 0%,#df025d 100%);
}

#drum4, #drum2, #drum8, #drum6 {
	background: linear-gradient(135deg, #a34801 0%,#8f2f09 100%);
}

#hi3 {
	background: linear-gradient(135deg, #ef0d6d 0%,#ca015e 100%);
}

#drum3, #drum7 {
	background: linear-gradient(135deg, #9b3201 0%,#762918 100%);
}

#hi4, #hi5 {
	background: linear-gradient(135deg, #db015c 0%,#aa0162 100%);
}

#ens1, #ens2, #ens3 {
	background: linear-gradient(135deg, #742280 0%,#4d1977 100%);
}

#ens4, #ens5 {
	background: linear-gradient(135deg, #601c79 0%,#32147c 100%);
}

#ens6 {
	background: linear-gradient(135deg, #481872 0%,#170f84 100%);
}

.petal {
	background-repeat: no-repeat;
	background-size: contain;
	position: absolute;
	// filter: drop-shadow(0 0 2vh rgba(0, 0, 0, 1));
	// filter: drop-shadow(0 0 3vh #043506);
}

#l1 {
	background-image: url('../../assets/images/petals/l1.svg');
	top: -160px;
    left: -200px;
    width: 50vh;
	height: 50vh;
	// transform-origin: 100% 100%;
	transform: scale(0);
}

#l2 {
	background-image: url('../../assets/images/petals/l2.svg');
	top: 10px;
    left: -320px;
    width: 63vh;
    height: 63vh;
    // transform-origin: 100% 100%;
    transform: scale(0);
}

#l3 {
	background-image: url('../../assets/images/petals/l3.svg');
	top: 170px;
    left: -248px;
    width: 67vh;
    height: 37vh;
    // transform-origin: 100% 100%;
    transform: scale(0);
}

#r1 {
	background-image: url('../../assets/images/petals/r1.svg');
	top: -140px;
    left: 70px;
    width: 60vh;
    height: 60vh;
	transform: scale(0);
}

#r2 {
	background-image: url('../../assets/images/petals/r2.svg');
	top: 10px;
    left: 160px;
    width: 63vh;
    height: 63vh;
    transform: scale(0);
}

#r3 {
	background-image: url('../../assets/images/petals/r3.svg');
	top: 100px;
    left: 68px;
    width: 65vh;
    height: 45vh;
    transform: scale(0);
}
















